# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*.props]
indent_style = space
tab_width = 2

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = tab
tab_width = 4

csharp_prefer_braces = true:suggestion
csharp_prefer_simple_using_statement = false:error

# New line preferences
end_of_line = crlf
insert_final_newline = false

[*.{cs,vb}]
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf